{% extends 'main/base.html' %}
{% load static %} 

{% block title %}О разработке{% endblock %}

{% block content %}
<div class="content">
    <h1>О разработке</h1>

    <div class="feature about">
        <h3>Цель создания</h3>
        <ul>
            <li>Практического освоения ключевых возможностей Django</li>
            <li>Демонстрации работы с моделями, формами и шаблонами</li>
            <li>Создания базовой структуры для будущих веб-приложений</li>
        </ul>
    </div>

    <div class="feature about">
        <h3>Основные этапы</h3>
        <ul>
            <li>Создано Django-приложение main с классической структурой</li>
            <li>Разработана модель Feedback для хранения сообщений</li>
            <li>Создана форма с валидацией данных</li>
            <li>Реализованы три страницы с наследованием шаблонов</li>
            <li>Разработана модель Feedback для хранения сообщений</li>
            <li>Настроена маршрутизация URL</li>
        </ul>
    </div>
</div>
{% endblock %}