{% extends 'main/base.html' %}
{% load static %} 

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="content">
    <h1>Главная страница</h1>
    <p>Этот сайт создан на Django.</p>
    <p><b>Django</b> — это свободный фреймворк для разработки быстрых и безопасных веб-приложений и сайтов на языке Python.</p>

    <div class="features">
        <div class="feature">
            <h3>Быстрая разработка</h3>
            <p>Django поддерживает концепцию быстрой разработки, предлагая множество встроенных функций, таких как автоматическое создание административного интерфейса и инструменты для работы с базами данных.</p>
        </div>
        <div class="feature">
            <h3>Универсальность</h3>
            <p>Django подходит для разработки веб-сайтов и приложений любого типа: систем управления контентом, новостных или информационных ресурсов, видеохостингов, социальных сетей и т.д.</p>
        </div>
        <div class="feature">
            <h3>Масштабируемость</h3>
            <p>Django поддерживает различные базы данных и может быть интегрирован с другими системами, что делает его идеальным выбором для проектов любого масштаба.</p>
        </div>
        <div class="feature">
            <h3>Широкое сообщество и документация</h3>
            <p>Django имеет обширную и активную документацию, что делает его доступным для разработчиков любого уровня.</p>
        </div>
    </div>

    <img src="{% static 'main/img/django.png' %}" alt="Django Logo" class="django-logo">
</div>
{% endblock %}